@import url('https://fonts.googleapis.com/css2?family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo, .icon {
    width: 80px;
}

.icon {
    padding-top: 10px;
}

nav a{
    text-align: center;
    padding: 35px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;;
}

#hero-msg, h1, #hero-msg, h4 {
    text-align: center;
}

#hero-msg h4 {
    color: white
}

.button-box {
    text-align: center;
} 

main section {
    text-align: center;
}

#background {
    background-color: #0081AF;
    grid-column: 1/11;
    grid-row: 4/9;
    z-index: -1;

}

body {
    background-color: #F8F7FF;
    font-family: Mulish, Arial, Helvetica;
    font-size: 22px;
    margin: 0;
    padding: 0;

}

.home-title {
  color: #0081AF;
  font-family: Rambla, Impact, "Arial Black";
  font-size: 2em;
  margin-top: 10px;
}

header {
    background-color: #0081AF;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #F8F7FF;
    text-decoration: none;
}

nav a:hover {
    color: #2DC7FF;
    background-color: #0081AF;
}


h4 {
    color: #0081AF;
}

.book, .join {
    background-color: #0081AF;
    color: #F8F7FF;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #0081AF;
    color: #2DC7FF;
}

h2 {
    margin: 0;
}

.msg h2 {
    color: #02111B;
}

.msg p {
    color: #02111B;
    padding-bottom: 15px;
}

footer {
    background-color: #0081AF;
    color: #F8F7FF;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.2em;
}

footer a {
    color: #F8F7FF;
    text-decoration: none;
}

footer a:hover {
    color: #2DC7FF;
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #0081AF;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #2DC7FF;
}

.card-img, .mountains {
    width: 100%;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #2DC7FF;
    z-index: 0
}

.msg {
    grid-column: 6/10;
    grid-row: 6/7;
    background-color: #F8F7FF;
    padding: 35px;
    box-shadow: 5px 5px 10px #2DC7FF;
    font-size: .8em;
    line-height: 1.5em;
    z-index: 1;
}

main section img {
    box-sizing: border-box;
}

#hero-img {
    width: 100%
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto auto auto minmax(50px, auto) auto auto auto minmax(50px, auto);
    position: relative;
}





@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }

    nav, footer {
        flex-direction: column;
    }
    nav a {
            display: block;
            padding: 15px;
        }
        #hero {
            margin-top: 0;
        }
        #hero-msg {
            margin-top: 0;
        }
        #hero-msg h4 {
            display: none;
        }
        #hero-msg h1 {
            color: #6f7364;
        }
        .home-title {
            font-size: 25px;
        }
        .rivers-card, .camping-card, .rapids-card { 
            margin: 50px auto;
            width: 60%;
        }
        #background {
            display: none;
        }
        .mountains, .msg {
            width: 80%;
            display: block;
            margin: 0 auto;
        }
        footer {
            margin-top: 25px;
        }
        .msg {
            border: solid #0081AF;
            border-width: 5px;
        }
    }
